/* CSS FOR Large DEVICES Max width - 1calc(500px*1.3) */
@import url('larger_index.css');

/* New Concepts Applied here for better code
    -- Some bits learned of Mobile First Design
    -- More of generalized styling to implement more of DRY, theming and other benefits.
*/

/* ####################### GENERAL STYLES ###################### */

@media screen and (min-width: 1500px) {

    /* ####################### GENERAL STYLES ###################### */
    section {
        height: fit-content;
        padding: calc(2.5rem*1.3)calc(12rem*1.3);
    }

    header {
        padding: calc(1.3rem*1.3)calc(12rem*1.3);
        /* background-color: black; */
        height: fit-content;
        position: relative;
        z-index: 3;
    }

    h1 {
        color: var(--color-white-one);
        font-size: calc(4rem*1.3);
        margin-bottom: calc(2.5rem*1.3);
        font-weight: 600;
        width: calc(30rem*1.3);
    }

    h4 {
        font-size: calc(0.9rem*1.3);
    }

    h2 {
        font-size: calc(3.5rem*1.3);
    }

    h3 {
        font-size: calc(1.56rem*1.3);
        width: calc(14rem*1.3);
    }

    /* ####################### NAV SECTION ############### */
    nav {
        display: flex;
        /* background-color: var(--color-purple-one); */
    }

    .nav__div1 {
        flex: 0.3;
        color: #fff;
        font-size: calc(2.5rem*1.3);
        font-weight: 600;
    }

    .nav__links {
        flex: 1;
        display: flex;
        color: var(--color-white-one);
        justify-content: center;
        /* background-color: orange; */
    }

    .nav__links ul {
        display: flex;
        list-style: none;
        justify-self: center;
        align-items: center;
    }

    .nav__links ul li {
        margin-right: calc(2.3rem*1.3);
        font-weight: 600;
        font-size: calc(0.9rem*1.3);
    }

    .nav__links ul li i {
        color: var(--color-green-one);
    }

    .nav__buttons {
        flex: 0.45;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .nav__buttons button {
        margin-left: calc(1.3rem*1.3);
        padding: calc(0.6rem*1.3) calc(1.3rem*1.3);
        font-size: calc(0.75rem*1.3);
        color: white;
        background-color: transparent;
    }

    .nav__button1 {
        border: calc( 0px*1.3);
    }

    .nav__button2 {
        border: calc( 1px*1.3) solid var(--color-green-one);
    }

    /* ####################### HERO SECTION ############# */
    .hero-section {
        /* background-color: #535353; */
        height: fit-content;
        position: relative;
    }

    .hero-section h1 {
        margin-top: calc(8.4rem*1.3);
        position: relative;
        z-index: 3;
    }

    .hero-section__search-input {
        display: flex;
        align-items: center;
        margin-bottom: calc(7.5rem*1.3);
        position: relative;
        z-index: 3;
    }

    .hero-section__search-input div {
        /* background-color: black; */
        height: fit-content;
        padding: calc(1rem*1.3) 0;
        margin-right: calc(1.3rem*1.3);
    }

    .hero-section__search-input div input {
        height: calc(4rem*1.3);
        width: calc(27rem*1.3);
        padding-left: calc(1rem*1.3);
    }

    .hero-section__search-input div input[placeholder] {
        color: #535353;
        font-size: calc(1rem*1.3);
    }

    .hero-section__search-input button {
        color: #fff;
        font-size: calc(0.8rem*1.3);
        background-color: var(--color-green-one);
        border: calc( 0px*1.3);
        width: calc(7.5rem*1.3);
        height: calc(3.75rem*1.3);
        font-weight: 600;
    }

    .hero_image {
        background: var(--gradient-one),
            url('../images/student1.jpg') no-repeat center center / cover;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        height: calc(50rem*1.3);
        width: 99vw;
        z-index: 2;
        top: calc(-6rem*1.3);
        left: 0;
    }

    .hero__curve1 {
        width: 97vw;
        /* background-color: var(--color-white-one); */
        position: absolute;
        bottom: calc(0rem);
        right: calc(1.5rem);
        z-index: 3;
        border-bottom: calc(27px*1.3) solid var(--color-green-three);
        border-right: calc(27px*1.3) solid var(--color-green-three);
        /* border-bottom-left-radius: calc( 6rem*1.3); */
        border-bottom-right-radius: calc(8.5rem*1.3);
        border-left: calc(25px*1.3) solid transparent;
        height: 80vh;
        transform: skew(0, -13deg) rotate(10deg);
    }

    .hero__curve2 {
        width: 98vw;
        /* background-color: var(--color-white-one); */
        position: absolute;
        bottom: calc(-2.1rem);
        right: calc(0rem);
        z-index: 3;
        border-bottom: calc(27px*1.3) solid var(--color-green-two);
        border-right: calc(27px*1.3) solid var(--color-green-two);
        /* border-bottom-left-radius: calc( 6rem*1.3); */
        border-bottom-right-radius: calc(10rem*1.3);
        border-left: calc(25px*1.3) solid transparent;
        height: 80vh;
        transform: skew(0, -13deg) rotate(10deg);
    }

    .hero__curve3 {
        width: 110vw;
        background-color: transparent;
        position: absolute;
        bottom: calc(-7.5rem*1.3);
        right: calc(-5rem*1.3);
        z-index: 2;
        border-bottom: calc(127px*1.4) solid var(--color-white-two);
        border-right: calc(148px*1.4) solid var(--color-white-two);
        /* border-bottom-left-radius: calc( 6rem*1.3); */
        border-bottom-right-radius: calc(4rem*1.3);
        border-left: calc(25px*1.3) solid transparent;
        height: 60vh;
        transform: skew(0, -13deg) rotate(10deg);
    }

    /* ################### ACHIEVED SECTION ############### */
    .achieved-section {
        /* background-color: #ccc; */
        display: flex;
        justify-content: space-evenly;
        /* gap: calc( 5rem*1.3); */
        margin-top: calc(10rem*1.3);
        margin-bottom: calc(5rem*1.3);
    }

    .achieved-section__div1 h4 {
        color: var(--color-green-one);
        margin-bottom: calc(0.3rem*1.3);
        margin-top: calc(1.3rem*1.3);
    }

    .achieved-section__div1 p {
        color: var(--color-purple-one);
        font-size: calc(1.9rem*1.3);
        font-weight: 600;

    }

    .divider {
        height: calc(3.1rem*1.3);
        width: calc(1px*1.3);
        background-color: #535353;
        height: calc(6.25rem*1.3);
        margin: calc(0px*1.3) calc(2.5rem*1.3) calc( 0px*1.3) calc(1.3rem*1.3);
    }

    /* ####################### RECOMMENDED SECTION ############### */
    .recommended-section {
        /* background-color: #535353; */
        position: relative;
        padding-bottom: calc(8rem*1.3);
        padding-top: calc( 4rem*1.3);
    }

    .recommended__slider-top {
        display: flex;
        justify-content: space-between;
        margin-top: calc(3.1rem*1.3);
    }

    .recommended__slider-top h2 {
        color: var(--color-purple-one);
        width: calc(25rem*1.3);
        background-color: #fff;
        margin-bottom: calc(2.5rem*1.3);
    }

    .recommended__slider-top div button {
        padding: calc(1.3rem*1.3)calc(2.5rem*1.3);
        margin-left: calc(2px*1.3);
        color: var(--color-grey-one);

    }

    .recommended__slider-top div button i {
        font-size: calc(1.5rem*1.3);
    }

    .recommended__button1 {
        border: calc( 1px*1.3) solid var(--color-grey-one);
        background-color: transparent;
    }

    .recommended__button2 {
        border: calc( 0px*1.3);
    }

    .recommended__slider-top div {
        display: flex;
        align-items: center;
    }

    .recommended__courses-slide {
        display: flex;
        justify-content: center;
    }

    .recommended__course-div {
        padding: calc(0rem*1.3);
        border: calc( 1px*1.3) solid #ddd;
        background-color: #fff;
        position: relative;
    }

    .recommended__image {
        background-color: #000;
        height: calc( 14rem*1.3);
        width: calc(20rem*1.3);
        position: relative;
        /* z-index: 1; */
    }

    .side-line {
        height: 100%;
        width: calc(0.25rem*1.3);
        background-color: var(--color-green-one);
        position: absolute;
        left: 0;
        z-index: 4;
    }

    .img1 {
        background: url('../images/course1.png') no-repeat center center / cover;
    }

    .img2 {
        background: url('../images/course2.png') no-repeat center center / cover;
    }

    .img3 {
        background: url('../images/course3.png') no-repeat center center / cover;
    }

    .recommended__image::after {
        content: '';
        /* border:calc( 20px*1.3) solid orange; */
        background: var(--color-white-one);
        width: 18%;
        height: 145%;
        transform: translate(calc(8.4rem*1.3), calc(4.5rem*1.3)) rotate(-96deg);
        position: absolute;
        z-index: 1;
    }

    .recommended__logo {
        border: calc( 2px*1.3) solid var(--color-white-one);
        width: calc(3.1rem*1.3);
        height: calc(3.1rem*1.3);
        position: relative;
        z-index: 2;
        top: calc(-2.5rem*1.3);
        left: calc(1.5rem*1.3);
    }

    .logo1 {
        background: url('../images/logo1.png') no-repeat center center / cover;
    }

    .logo2 {
        background: url('../images/logo2.png') no-repeat center center / cover;
    }

    .logo3 {
        background: url('../images/logo3.png') no-repeat center center / cover;
    }

    .recommended__details h3 {
        /* margin-top:calc( 0.3rem*1.3); */
        margin-bottom: calc(1.3rem*1.3);
        color: var(--color-purple-one);
        position: relative;
        top: calc(-2rem*1.3);
        font-weight: 600;
        z-index: 3;
    }

    .recommended__details {
        padding-left: calc(1.5rem*1.3);
        padding-right: calc(1rem*1.3);
    }

    .recommended__details p {
        margin-bottom: calc(1.3rem*1.3);
        color: #535353;
        font-size: calc(0.9rem*1.3);

    }

    .recommended__details div {
        display: flex;
        justify-content: space-between;
    }

    .recommended__views {
        font-weight: 600;
    }

    .curve-container {
        position: absolute;
        right: calc(-5rem*1.3);
        width: calc(10rem*1.3);
        height:  calc(10rem*1.3);
        border-bottom-left-radius: calc(2rem*1.3);
        background-color: var(--color-purple-one);
        transform: rotate(45deg);
        z-index: 2;

    }

    .curve-container2 {
        z-index: 1;
        top: calc(-2.5rem*1.3);
        right: calc(-6rem*1.3);
        background-color: var(--color-green-three);

    }

    /* ################## TOP CATEGORIES ################ */
    .top-categories {
        /* background-color: black; */
        padding-top: calc( 5rem*1.3);
        position: relative;
    }

    .top-categories h2 {
        color: var(--color-purple-one);
        width: calc(15.6rem*1.3);
        margin-bottom: calc(2.5rem*1.3);
    }

    .top-categries__grid-div {
        display: grid;
        grid-template-columns: calc( 16rem*1.3)calc(16rem*1.3)calc(16rem*1.3)calc(16rem*1.3);
        grid-template-rows: calc( 14rem*1.3)calc(14rem*1.3);
        gap: calc(1.3rem*1.3);
    }

    .top-categries__card {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .top-categries__card span {
        /* background-color: orange; */
        font-size: calc(3rem*1.3);
        margin-bottom: calc(1.3rem*1.3);
    }

    .top-categries__card h3 {
        color: var(--color-purple-one);
        text-align: center;
        font-size: calc(1.1rem*1.3);
        font-weight: 600;

    }

    .top-cat__curve-container {
        position: absolute;
        left: calc(-5rem*1.3);
        top: calc( 7rem*1.3);
        width: calc(10rem*1.3);
        height:  calc(10rem*1.3);
        border-top-right-radius: calc(2rem*1.3);
        background-color: var(--color-purple-one);
        transform: rotate(45deg);
        z-index: 2;

    }

    .cat-curve-green {
        z-index: 1;
        top: calc(13rem*1.3);
        left: calc(-6rem*1.3);
        background-color: var(--color-green-three);

    }

    /* ################### SAMPLE COURSE ###################### */
    .sample-course {
        margin-top: calc( 5rem*1.3);
        background-color: var(--color-purple-one);
        display: flex;
        padding: calc( 0px*1.3);
        position: relative;
    }

    .sample-course__div1 {
        flex: 1;
        background: var(--gradient-two),
            url('../images/designer.png') no-repeat center center / cover;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 3;
    }

    .sample-course__play1 {
        width: calc(9.4rem*1.3);
        height: calc(9.4rem*1.3);
        border-radius: calc(9.4rem*1.3);
        background-color: rgba(255, 255, 255, 0.08);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sample-course__play2 {
        width: calc(8.1rem*1.3);
        height: calc(8.1rem*1.3);
        border-radius: calc(8.1rem*1.3);
        background-color: rgba(255, 255, 255, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sample-course__play3 {
        width: calc(6.25rem*1.3);
        height: calc(6.25rem*1.3);
        border-radius: calc(6.25rem*1.3);
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-green-one);
        font-size: calc(1.4rem*1.3);
    }

    .sample-course__div2 {
        flex: 1;
        background-color: var(--color-purple-one);
        padding-left: calc(5rem*1.3);
    }

    .sample-course__div2 h4 {
        color: var(--color-green-one);
        margin-top: calc(7.5rem*1.3);
        margin-bottom: calc(3rem*1.3);
    }

    .sample-course__div2 h2 {
        color: #fff;
        margin-top: calc(1.9rem*1.3);
        font-size: calc(2.2rem*1.3);
        margin-bottom: calc(2.5rem*1.3);
        width: 1calc(8.75rem*1.3);
    }

    .sample-course__div2 p {
        color: #fff;
        font-size: calc(0.75rem*1.3);
        margin-bottom: calc(2.5rem*1.3);
        line-height: calc(1.9rem*1.3);
        width: calc(17rem*1.3);
    }

    .sample-course__div2 button {
        color: #fff;
        font-size: calc(0.75rem*1.3);
        margin-bottom: calc(6.25rem*1.3);
        background-color: var(--color-green-one);
        padding: calc(1.3rem*1.3)calc(2.5rem*1.3);
        border: calc( 0px*1.3);
    }

    .sample__curve-container {
        position: absolute;
        left: calc( 2rem*1.3);
        bottom: calc(-5rem*1.3);
        width: calc(10rem*1.3);
        height:  calc(10rem*1.3);
        border-top-right-radius: calc(2rem*1.3);
        background-color: var(--color-purple-one);
        transform: rotate(135deg);
        z-index: 2;

    }

    .sample-curve-green {
        z-index: 1;
        bottom: calc(-4.3rem*1.3);
        left: calc( 7rem*1.3);
        background-color: var(--color-green-three);
    }

    /* ####################### NEW COURSES SECTION ############### */
    .new-courses-section {
        /* background-color: #535353; */
        padding-top: calc( 7rem*1.3);
        padding-bottom: calc(8rem*1.3);
    }

    .new-courses__slider-top {
        display: flex;
        justify-content: space-between;
        margin-top: calc(3.1rem*1.3);
    }

    .new-courses__slider-top h2 {
        color: var(--color-purple-one);
        width: 1calc(8.75rem*1.3);
        margin-bottom: calc(2.5rem*1.3);
    }

    .new-courses__slider-top div button {
        padding: calc(1rem*1.3) calc(2.5rem*1.3);
        margin-left: calc(1px*1.3);
        font-size: calc(1.3rem*1.3);
        color: var(--color-grey-one);
    }

    .nc__button1 {
        background-color: transparent;
        border: calc( 1px*1.3) solid var(--color-grey-one);
    }

    .nc__button2 {
        border: calc( 1px*1.3) solid transparent;
        background-color: var(--color-green-one);
    }

    .new-courses__slider-top div {
        display: flex;
        align-items: center;
    }

    .img4 {
        background: url('../images/course4.png') no-repeat center center / cover;
    }

    .img5 {
        background: url('../images/course5.png') no-repeat center center / cover;
    }

    .img6 {
        background: url('../images/course6.png') no-repeat center center / cover;
    }

    .logo4 {
        background: url('../images/logo4.png') no-repeat center center / cover;
    }

    .logo5 {
        background: url('../images/logo3.png') no-repeat center center / cover;
    }

    .logo6 {
        background: url('../images/logo1.png') no-repeat center center / cover;
    }

    /* ################# TESTIMONIAL SECTION ########## */
    .testimonial {
        /* background-color: #000; */
        display: flex;
        position: relative;

    }

    .testimonial__div1 {
        flex: 1;
        z-index: 5;
        /* background-color: gray; */
    }

    .testimonial__div2 {
        flex: 1;
        /* background-color: #000; */
        position: relative;
        /* z-index: 2; */
    }

    #quotes {
        font-size: calc(2.5rem*1.3);
        color: var(--color-green-one);
        margin-top: calc( 5rem*1.3);
        margin-bottom: calc(2rem*1.3);
    }

    .testimonial__div1 p {
        font-size: calc(1.4rem*1.3);
        line-height: calc(2.5rem*1.3);
        /* background-color: #fff; */
        font-weight: 400;
        width: calc(31.25rem*1.3);
        margin-bottom: calc(1.9rem*1.3);
        color: #000022;
    }

    .testimonial__user {
        color: #535353;
        font-size: calc(1rem*1.3);
        margin-bottom: calc(2.5rem*1.3);
    }

    .testimonial__buttons button {
        padding: calc(1rem*1.3)calc(2.5rem*1.3);
        margin-left: calc(1px*1.3);
        margin-bottom: calc(5rem*1.3);
        font-size: calc(1.3rem*1.3);
    }

    .test__button1 {
        background-color: transparent;
        border: calc( 1px*1.3) solid var(--color-grey-one);
    }

    .test__button2 {
        background-color: var(--color-green-one);
        border: calc( 0px*1.3);
    }

    .testimonial__curve-cont {
        position: absolute;
        right: calc(-25rem*1.3);
        top: calc(-4rem*1.3);
        width: calc(45rem*1.3);
        height:  calc(45rem*1.3);
        border-top-left-radius: calc(2rem*1.3);
        background-color: var(--color-purple-one);
        transform: rotate(-45deg);
        z-index: 1;
    }

    .testimonial__img-div1 {
        width: calc(33rem*1.3);
        height:  calc(33rem*1.3);
        border-radius: calc( 25rem*1.3);
        border: calc( 2px*1.3) dashed var(--color-grey-one);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 2;
        right: calc(-5rem*1.3);
        top: calc( 1rem*1.3);
    }

    .testimonial__img-div2 {
        width: calc(23rem*1.3);
        height:  calc(23rem*1.3);
        border-radius: calc(18.75rem*1.3);
        background: url('../images/testimpic.png') no-repeat center center /cover;
        position: absolute;
        z-index: 2;
        right: calc(0rem*1.3);
        top: calc( 6rem*1.3);
    }

    .testimonial__img-div3 {
        width: calc(5.5rem*1.3);
        height: calc(5.5rem*1.3);
        border-radius: 50%;
        background: url('../images/testimpic1.png') no-repeat center center /cover;
        position: absolute;
        z-index: 2;
        bottom: calc(5rem*1.3);
        right: calc(22rem*1.3);
    }

    .testimonial__img-div4 {
        width: calc(3.8rem*1.3);
        height: calc(3.8rem*1.3);
        border-radius: 50%;
        background: url('../images/testimpic2.png') no-repeat center center /cover;
        position: absolute;
        z-index: 2;
        bottom: calc(5rem*1.3);
        right: calc(-3rem*1.3);
    }

    .testimonial__img-div5 {
        width: calc(3.3rem*1.3);
        height: calc(3.3rem*1.3);
        border-radius: 50%;
        background: url('../images/testimpic3.png') no-repeat center center /cover;
        position: absolute;
        z-index: 2;
        bottom: calc(17rem*1.3);
        right: calc(-6rem*1.3);
    }

    .testimonial__img-div6 {
        width: calc(4.5rem*1.3);
        height: calc(4.5rem*1.3);
        border-radius: 50%;
        background: url('../images/testimpic4.png') no-repeat center center /cover;
        position: absolute;
        z-index: 2;
        top: calc(-1rem*1.3);
        right: calc(8rem*1.3);
    }

    .testimonial__img-div7 {
        width: calc(2.5rem*1.3);
        height: calc(2.5rem*1.3);
        border-radius: 50%;
        background: url('../images/testimpic5.png') no-repeat center center /cover;
        position: absolute;
        z-index: 2;
        top: calc( 6rem*1.3);
        right: calc(-10rem*1.3);
    }

    /* ################### COMPANIES SECTION ############## */
    .companies {
        display: flex;
        gap: calc( 5rem*1.3);
        padding-top: calc( 8rem*1.3);
        padding-bottom: calc(8rem*1.3);
        justify-content: center;
        align-items: center;
    }

    .company {
        height: calc(4rem*1.3);
        width: calc( 6rem*1.3);
    }

    .c1 {
        background: url('../images/company1.png') no-repeat center center / contain;
    }

    .c2 {
        background: url('../images/company2.png') no-repeat center center / contain;
    }

    .c3 {
        background: url('../images/company3.png') no-repeat center center / contain;
    }

    .c4 {
        background: url('../images/company4.png') no-repeat center center / contain;
    }

    /* ######################## FOOTER ################################  */
    footer {
        background-color: #1c2434;
    }

    .footer__top {
        padding: calc(2.5rem*1.3)calc(12rem*1.3);
        display: flex;
        margin-bottom: calc(2.5rem*1.3);
    }

    .footer__bottom {
        background-color: #2c2c44;
        padding: calc(1.3rem*1.3)calc(12rem*1.3);
        display: flex;
        justify-content: space-between;
    }

    .footer__div1 {
        flex: 0.25;
        color: #fff;
        font-size: calc(.75rem*1.3);
        font-weight: 600;
    }

    .footer__div2 {
        flex: 0.15;
    }

    .footer__div2 h3 {
        margin-top: calc(1.3rem*1.3);
        color: #fff;
        font-size: calc(1.1rem*1.3);
        margin-bottom: calc(1.9rem*1.3);
    }

    .footer__div2 ul {
        color: #aaa;
        list-style: none;
        line-height: calc(1.9rem*1.3);
    }

    .footer__div3 {
        flex: 0.15;
        margin-right: calc(.75rem*1.3);
    }

    .footer__div3 h3 {
        margin-top: calc(1.3rem*1.3);
        color: #fff;
        margin-bottom: calc(1.9rem*1.3);
        font-size: calc(1.1rem*1.3);
    }

    .footer__div3 ul {
        color: #aaa;
        list-style: none;
        line-height: calc(1.9rem*1.3);
    }

    .footer__div4 {
        flex: 0.6;
    }

    .footer__div4 h3 {
        margin-top: calc(1.3rem*1.3);
        color: #fff;
        margin-bottom: calc(1.9rem*1.3);
        font-size: calc(1.1rem*1.3);
    }

    .footer__input {
        /* background-color: #302c44; */
        padding: calc(0.6rem*1.3);
        /* border: calc( 1px*1.3) solid #fff; */
        width: fit-content;
        display: flex;
    }

    .footer__input input {
        background-color: #2c2c44;
        padding: calc(0.6rem*1.3);
        border: calc( 0px*1.3);
        border-left: calc(1px*1.3) solid #aaa;
        border-bottom: calc( 1px*1.3) solid #aaa;
        width: calc(22.5rem*1.3);
        height: calc(.75rem*1.3);
        margin-right: calc(0.6rem*1.3);

    }

    .footer__input ::placeholder {
        color: #fff;
        font-weight: 400;
        font-size: calc(0.9rem*1.3);
    }

    .footer__input button {
        background-color: #1c2434;
        padding: calc(1.3rem*1.3)calc(2.5rem*1.3);
        border: calc( 1px*1.3) solid green;
        color: #fff;
        font-weight: 600;
        font-size: calc(0.9rem*1.3);
    }

    .footer__bottom div {
        color: #fff;
        font-size: calc(0.9rem*1.3);
    }

    .footer__buttons {
        display: flex;
        justify-content: end;
    }

    .footer__buttons button {

        justify-content: end;
    }
}